#!/bin/sh

# For each entry in each of these lists, a line needs to be added to skip_files in app.yaml
# (replace LOCAL_DIR with the plugin/theme directory name)
#
# - ^LOCAL_DIR/(.*)$
#

# a space-delimited list of the plugin directories to copy on deploy
PLUGINS=''

# a space-delimited list of the theme directories to copy on deploy
THEMES=''
