env_variables:
  DB_HOST: :/cloudsql/GOOGLE_PROJECT:SQL_INSTANCE
  AUTH_KEY: 'INSERT_KEY_HERE'
  SECURE_AUTH_KEY: 'INSERT_KEY_HERE'
  LOGGED_IN_KEY: 'INSERT_KEY_HERE'
  NONCE_KEY: 'INSERT_KEY_HERE'
  AUTH_SALT: 'INSERT_KEY_HERE'
  SECURE_AUTH_SALT: 'INSERT_KEY_HERE'
  LOGGED_IN_SALT: 'INSERT_KEY_HERE'
  NONCE_SALT: 'INSERT_KEY_HERE'
